
/* ============================== PAGE_NAVIGATION ============================== */


.projects {
    padding-top: 94px;
    padding-bottom: 94px;
}

.wiev {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.wiev-btn {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 4px;
    border: 1px solid transparent;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background: #F5F4FA;
    cursor: pointer;

    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.wiev-item:not(:last-child) {
    margin-right: 8px;
}

.wiev-btn:hover,
.wiev-btn:focus {
    outline: none;
    color: #FFFFFF;
    background: var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.wiev-btn-current {
    pointer-events: none;
    outline: none;
    color: #FFFFFF;
    background: var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* ============================== END PAGE_NAVIGATION ============================== */

/* ============================== PROJECTS ============================== */
.projects-title {
    display: none;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1*var(--project-item-gap));
    margin-left: calc(-1*var(--project-item-gap));    
}

.projects-list-item {
    display: flex;
    flex-direction: column;
    margin-top: var(--project-item-gap);
    margin-left: var(--project-item-gap);
    flex-basis: calc(100% / 3 - var(--project-item-gap));

    background: #ffffff;

    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.projects-list-item-link:hover,
.projects-list-item-link:focus{
    cursor:pointer;

    outline: none;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-img-thumb {
    /* width: 368px; */
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;

    border-left: 1px solid rgba(238, 238, 238, 1);
    border-right: 1px solid rgba(238, 238, 238, 1);
    border-bottom: 1px solid rgba(238, 238, 238, 1);
}

.projects-img-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
}

.projects-img-text {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-color);
}

/* ============================== END PROJECTS ============================== */



